#attribute_block, #skill_block {
    display: flex;
    flex-direction: row;
    gap: 16px;
    border: 2px solid blue;
}

#attribute_block > div, #skill_block > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;
}

#attribute_block > div > h3, #skill_block > div > h3 {
}

#attribute_block > div > button, #skill_block > div > button {
    width: 32px;
    height: 32px;
}

#attribute_block > div > p, #skill_block > div > p {
}

#table_box {
    display: flex;
    gap: 16px;
    margin: 16px 0px 16px 0px;
}

table {
    border: 1px solid black;
}