.abilities-block {
    min-height: 0;

    grid-area: abilities;

    display: flex;
    flex-direction: column;
}

.abilities-table-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 50%;
    gap: 8px;
}

.abilities-table-inner-block {
    flex-grow: 1;
    overflow-y: scroll;

}

.abilities-block-title {
    margin: 0;
    text-align: center;
}

.abilities-table {
    border-collapse: collapse;
    width: 100%;
}

.abilities-table tr {
    border: 1px solid black;
}

.abilities-table td {
    vertical-align: top;
}

.abilities-table ul {
    margin: 0;
    padding: 0;
}

/* table.abilities-table > tr.selected {
    background-color: red;
    color: white;
    border-color: green
} */

.abilities-table button {
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid white;
    background-color: greenyellow;
}

tr.selected button {
    background-color: red;
}

table.abilities-table button:hover {
    cursor: pointer;
    border: 1px solid black;
}

tr.selected {
    background-color: grey;
    color: white;
}
tr.selected :link {
    color: white;
}
tr.selected :visited {
    color: white;
}
/* table.abilities-table > tr.selected > :nth-child(1),
table.abilities-table > tr.selected > :nth-child(2) {
    background-color: red;
    color: white;
}

table.abilities-table > tr.selected > :nth-child(1),
table.abilities-table > tr.selected > :nth-child(2) {
    background-color: red;
    color: white;
} */

@media (max-width: 1800px) {
    .abilities-block {
        flex-direction: row;
        gap: 8px;
        justify-content: center;
    }
    
    .abilities-table-block {
        height: 300px;
        max-width: 600px;
    }

    .abilities-table {
        margin-bottom: 16px;
    }

    .abilities-table-inner-block {
        /* overflow-y: visible; */
    }
}

@media (max-width: 900px) {
    .abilities-block {
        flex-direction: column;
        align-items: center;
    }

    .abilities-table-block {
        height: auto;
    }

    .abilities-table-inner-block {
        overflow-y: visible;
    }
}