.abilities-block {
    min-height: 0;

    grid-area: abilities;

    display: flex;
    flex-direction: column;
}

.abilities-table-outer-block {
    min-height: 0;
    flex: 1 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.abilities-table-inner-block {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.abilities-table-scroll-block {
    flex: 1;

    overflow-y: scroll;
}

.abilities-table-title {
    margin: 0;
    text-align: center;
}

.abilities-table {
    width: 100%;

    border-collapse: collapse;
}

.abilities-table tr {
    border: 1px solid black;
}

.abilities-table td {
    vertical-align: top;
}

.abilities-table td:last-child {
    vertical-align: bottom;
    text-align: right;
    padding: 4px;
}

/* table.abilities-table > tr.selected {
    background-color: red;
    color: white;
    border-color: green
} */

.abilities-table button {
    width: 32px;
    height: 32px;
    text-align: center;
    /* border-radius: 100%; */
    border: 1px solid white;
    background-color: greenyellow;
}

.ability.selected button {
    background-color: red;
    border: 1px solid grey;
}

.abilities-table button:hover {
    cursor: pointer;
    border: 1px solid black;
}

.ability.selected {
    background-color: grey;
    color: white;
}
.ability.selected :link {
    color: white;
}
.ability.selected :visited {
    color: white;
}
/* table.abilities-table > tr.selected > :nth-child(1),
table.abilities-table > tr.selected > :nth-child(2) {
    background-color: red;
    color: white;
}

table.abilities-table > tr.selected > :nth-child(1),
table.abilities-table > tr.selected > :nth-child(2) {
    background-color: red;
    color: white;
} */

@media (max-width: 1800px) {
    .abilities-block {
        flex-direction: row;
        gap: 8px;
        justify-content: center;
    }
    
    .abilities-table-outer-block {
        height: 300px;
    }

    .abilities-table-inner-block {
        max-width: 600px;
    }
}

@media (max-width: 900px) {
    .abilities-block {
        flex-direction: column;
        align-items: center;
    }

    .abilities-table-outer-block {
        width: 100%;
        flex: 1 min-content;
    }

    .abilities-table-inner-block {
        flex: 1;
    }

    .abilities-table-scroll-block {
        overflow-y: visible;
    }
}