.character-switcher {
    grid-area: switcher;

    padding: 0;
    border-style: solid;
    border-width: 1px 0px;
    display: grid;
    grid-template: auto / auto 1fr auto;
    grid-template-areas: "party cards saveload";
    gap: 0;
}

.single-character-card {
    grid-area: cards;
}

.party-character-cards {
    grid-area: cards;

    display: flex;
    flex-direction: row;
    gap: 4px;
}

.character-card {
    height: 48px;
    border-radius: 12px;
    padding: 0px 4px 0px 8px;
    gap: 0px 4px;
    border: 4px outset grey;
    min-width: 150px;
    max-width: 240px;
    flex-grow: 1;

    display: grid;
    align-items: center;
    grid-template: 1fr 1fr / 1fr auto;
}

.character-card.story-companion > select {
    grid-row: span 2;
}

.character-card.selected {
    border: 4px outset red;
}

.character-card.empty > select {
    grid-row: span 2;
}

.character-card > input {
    min-width: 0;
    grid-column: 1;
    align-self: flex-end;
}

.character-card > span {
    align-self: flex-start;
}

.character-card > select {
    grid-column: 1;
    min-width: 0;
}

.character-card > button {
    grid-column: 2;
    grid-row: 1 / span 2;
    border-radius: 8px;
    border: 1px solid grey;
    background-color: lightgray;
    cursor: pointer;
    /* width: 32px;
    height: 32px; */
    color: white;
    padding: 2px;
    font-size: 16px;
    text-transform: uppercase;
}

.character-card > button:hover {
    background-color: grey;
}

.party-buttons-block {
    grid-area: party;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 136px;
    margin-left: 8px;
}

.saveload-buttons-block {
    grid-area: saveload;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin: 0 8px;
}

.saveload-buttons-block button {
    font-weight: bold;
    border-radius: 32px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    text-transform: uppercase;
    width: 8em;
    height: 2em;
}

.randomize-button {
    background-color: orange;
    color: white;
    border-color: darkorange;
}

.randomize-button:hover {
    background-color: darkorange;
}

.get-link-button {
    background-color: blue;
    color: white;
    border-color: darkblue;
}

.get-link-button:hover {
    background-color: darkblue;
}


@media (max-width: 1450px) {
    .character-switcher {
        grid-template: 56px auto / auto 1fr auto;
        grid-template-areas:
            "party single-card saveload"
            "party-cards party-cards party-cards";
    }

    .party-character-cards {
        grid-area: party-cards;
        overflow-x: scroll;
    }

    .single-character-card {
        grid-area: single-card;
    }
}

@media (max-width: 600px) {
    .character-switcher {
        grid-template: 48px auto / 1fr auto;
        grid-template-areas:
            "party saveload"
            "cards cards";
    }

    .party-character-cards {
        grid-area: cards;
    }

    .single-character-card {
        grid-area: cards;

        display: flex;
        justify-content: center;
    }
}