.levels-outer-block {
    min-height: 0;
    grid-area: levels;

    display: grid;
    grid-template-areas:
        "header"
        "skills"
        "table";
    gap: 8px;
}

.levels-table-block {
    grid-area: table;
    min-height: 0;

    overflow-y: scroll;
}

.levels-table {
    border-collapse: collapse;
    width: 100%;
}

.level {
    border: 1px solid black;
    width: 100%;
    cursor: pointer;
}

.level.selected {
    background-color: red;
    color: white;
}



.levels-header-block {
    grid-area: header;
    /* grid-column: span 2; */
    height: 32px;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 24px;
}

.levels-title-block {
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
    width: 4em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.levels-title {
    vertical-align: middle;
}

.levels-title-counter {
    font-weight: bold;
}

.previous-button, .next-button {
    margin: 0;
    height: 32px;
    border: 1px solid darkgreen;
    cursor: pointer;
    font-size: inherit;
    padding: 0 4px 4px 4px;
    background-color: green;
    color: white;
}

.previous-button:hover,
.next-button:hover {
    background-color: darkgreen;
}

.previous-button:disabled,
.next-button:disabled {
    background-color: darkgrey;
    border-color: grey;
    cursor: auto;
}

.previous-button {
    border-radius: 16px 0 0 16px;
}

.next-button {
    border-radius: 0 16px 16px 0;
}


.skills-stats-block {
    grid-area: skills;

    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.skills-table, .stats-table {
    border: 1px solid black;
}

.skills-table caption, .stats-table caption {
    font-weight: bold;
}

.skills-table {
}

.stats-table {
    border-collapse: collapse;
    table-layout: fixed;
}

.stats-table th {
    border: 1px solid black;
}

.stats-table td:nth-child(odd) {
    text-align: right;
}

.stats-table td:nth-child(even) {
    border-right: 1px solid black;
    width: 36px;
    text-align: center;
}

@media (max-width: 1800px) {
    .levels-outer-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .levels-top-block {
        max-width: 600px;
        flex-grow: 1;

    }

    .levels-table-block {
        max-width: 600px;
        flex-grow: 1;
        height: 300px;
    }
}

@media (max-width: 900px) {
    .levels-outer-block {
        grid-template: auto auto / 1fr;
    }

    .levels-table-block {
        display: none;
    }
}