.tables-block {
    grid-area: tables;
    min-height: 0;

    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.tables-block-column {
    max-width: 300px;
    flex-basis: 280px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.attributes-column {
    max-width: fit-content;
}

.tables-block table {
    border: 1px solid black;
    border-collapse: collapse;
}

.tables-block td {
    padding: 2px 4px;
}

.tables-block th {
    padding: 0;
    border: 1px solid black;
}

.tables-block select {
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 0;
    text-align: center;
    text-indent: 6px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.tables-block select:hover {
    /* background-color: lightgrey; */
}

.base-ability-block {
    display: flex;
    align-items: center;
    gap: 4px;
}

.race-table td,
.culture-table td,
.background-table td,
.class-table td,
.order-table td,
.deity-table td {
    width: 50%;
}

.attributes-table {
}

@media (max-width: 1800px) {
    .tables-block {
        min-height: 320px;

        justify-content: center;
    }
}

@media (max-width: 600px) {
    .tables-block {
        justify-content: center;
    }
}